* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
    font-family: "Poppins", sans-serif;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }


header {
    width: 100%;
    padding: 20px;
    background: rgb(83,100,125);
    color: #ffffff;
    position: fixed;
    z-index: 999 !important;
  }
  
  .gc-nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .gc-nav ul li {
    padding: 15px;
    font-size: 0.8em;
    font-weight: 400;
  }

  .gc-section {
    padding: 100px 25px;
    
  }